@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: "Montserrat", sans-serif; */

:root {
    --primary: rgb(0, 34, 77);
    --secondary: rgb(255, 32, 78);
    --hover-secondary: rgb(160, 21, 62);
    --darker: rgb(160, 21, 62);
    --white: rgba(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Poppins", system-ui;
    background-color: var(--primary);
    color: var(--white);
}
header {
    /* border: 1px solid; */
    padding: 0.7rem 0;
    box-shadow: 0 -6px 10px 5px rgba(20, 20, 20, 0.397);

}
.container {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid var(--white); */
}
/* Header Desing */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: var(--white);
    cursor: pointer;
    transition: all 0.4s ease;
}

header .logo:hover {
    color: var(--secondary);
}

header #searchInput {
    border: none;
    background-color: var(--primary);
    padding: 0.5rem 0.7rem;
    color: var(--white);
    border: 1px solid #8f8f8f;
    border-radius: 20px;
}

header button {
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    border: none;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    transition: all 0.4s linear;
}
header button:hover {
    background-color: var(--hover-secondary);
}
/* Header Design! */

/* Main desin */
main {
    min-height: 100vh;
}

/* latest movies desing */
main .latest-movies {
    /* border: 1px solid; */
    margin-top: 3rem;
}
main h2 {
    font-size: 21px;
    margin-bottom: 1rem;
    color: var(--secondary);
}

main .latest-movies .movies-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
main .latest-movies .movies-cards .item {
    border: 1px solid rgb(5, 23, 47);
    border-radius: 5px;
    overflow: hidden;
    max-height: 350px;
    background: rgb(4, 30, 64);
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

}
main .latest-movies .movies-cards .item .movie-poster {
    height: 70%;
}
main .latest-movies .movies-cards .item .movie-content {
    height: 30%;
    padding: 0.3rem 1rem;
    /* align-items: center; */
}
main .latest-movies .movies-cards .item .movie-content h4 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}

main .latest-movies .movies-cards .item .movie-content p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4px;
}


main .latest-movies .movies-cards .item img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
/* Footer Design */
footer {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    padding-bottom: 7px;
}
footer .copyright {
    margin-bottom: 4px;
}

/* Responsive Design  */
@media only screen and (max-width: 600px) {
    .container {
        width: 97%;
    }
    main .latest-movies .movies-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

}

@media only screen and (min-width: 600px) {
    .container {
        width: 97%;
    }
    main .latest-movies .movies-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 85%;
    }
    main .latest-movies .movies-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 80%;
    }
    main .latest-movies .movies-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

